<a href="https://colab.research.google.com/github/zecenbajra55/1100python/blob/main/1_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# introduction to pandas series

In [ ]:
# to install pandas

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [ ]:
# importing pandas

In [ ]:
import pandas as pd

In [ ]:
#  checking versiion
pd.__version__

'1.5.3'

<img src="https://i.morioh.com/210524/9788b6e2.webp">

In [ ]:
# creating series from list

In [ ]:
name=['kshitiz','bikash','kusum','champa','pranil']

In [ ]:
s= pd.Series(name)

In [ ]:
s

0    kshitiz
1     bikash
2      kusum
3     champa
4     pranil
dtype: object

In [ ]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [ ]:
s.values

array(['kshitiz', 'bikash', 'kusum', 'champa', 'pranil'], dtype=object)

In [ ]:
s.ndim

1

In [ ]:
s[2]

'kusum'

In [ ]:
s.values[2]

'kusum'

In [ ]:
s[3]

'champa'

In [ ]:
s.values[-2]  # allowed because s.values le numpy array return garcxa

'champa'

In [ ]:
s[-2]   # -2 index doesnt exist therefore .values method is preferred

KeyError: ignored

# changing index of pandas series

In [ ]:
name=['kshitiz','bikash','kusum','champa','pranil']
t= pd.Series(name, index=['a','b','c','d','e'])

In [ ]:
t

a    kshitiz
b     bikash
c      kusum
d     champa
e     pranil
dtype: object

In [ ]:
name=['kshitiz','bikash','kusum','champa','pranil']
s= pd.Series(name, index=[100,101,102,103,104])

In [ ]:
s

100    kshitiz
101     bikash
102      kusum
103     champa
104     pranil
dtype: object

In [ ]:
s[100]

'kshitiz'

In [ ]:
s.values[0]  # numpy array so indexing starts with 0

'kshitiz'

In [ ]:
s[0] # nothing in 0 array since 1st array starts with 100

KeyError: ignored

In [ ]:
t['a']

'kshitiz'

In [ ]:
t.values[0]

'kshitiz'

In [ ]:
t.values['a']

IndexError: ignored

In [ ]:
t[0]

'kshitiz'

In [ ]:
t['b']

'bikash'

In [ ]:
t.values[1]

'bikash'

In [ ]:
#  provoding naem to the series

In [ ]:
student=['kshitiz','bikash','kusum','champa','pranil']
t= pd.Series(student, index=['a','b','c','d','e'],name='f_name') # series ko name

In [ ]:
t

a    kshitiz
b     bikash
c      kusum
d     champa
e     pranil
Name: f_name, dtype: object

# apply function on series

In [ ]:
prices =['$500','$20','$69','$420','$44.5']
mrp=pd.Series(prices,name='price($)')
mrp

0     $500
1      $20
2      $69
3     $420
4    $44.5
Name: price($), dtype: object

In [ ]:
def clean(p):
    p=p.replace('$','')
    return float(p)

In [ ]:
mrp.apply(clean)    # series.apply(function_name)

0    500.0
1     20.0
2     69.0
3    420.0
4     44.5
Name: price($), dtype: float64

In [ ]:
prices =['$500','$20','$69','$420','$44.5']
mrp=pd.Series(prices,name='price($)')
mrp

0     $500
1      $20
2      $69
3     $420
4    $44.5
Name: price($), dtype: object

In [ ]:
mrp.str.replace('$','',regex=False).astype(float)

0    500.0
1     20.0
2     69.0
3    420.0
4     44.5
Name: price($), dtype: float64

In [ ]:
mrp.str.replace('$','').astype(float)

<ipython-input-70-05eede14b420>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  mrp.str.replace('$','').astype(float)

0    500.0
1     20.0
2     69.0
3    420.0
4     44.5
Name: price($), dtype: float64

In [ ]:
n1=pd.Series(range(1,15))
n2=pd.Series(range(51,65))

In [ ]:
n1+n2

0     52
1     54
2     56
3     58
4     60
5     62
6     64
7     66
8     68
9     70
10    72
11    74
12    76
13    78
dtype: int64

In [ ]:
df=pd.concat([n1,n2],axis='columns')    # data frame

In [ ]:
# 2ta series columnwise concat garda it becomes dataframe

In [ ]:
df

     0   1
0    1  51
1    2  52
2    3  53
3    4  54
4    5  55
5    6  56
6    7  57
7    8  58
8    9  59
9   10  60
10  11  61
11  12  62
12  13  63
13  14  64

In [ ]:
df.head()

   0   1
0  1  51
1  2  52
2  3  53
3  4  54
4  5  55

In [ ]:
df.tail()

     0   1
9   10  60
10  11  61
11  12  62
12  13  63
13  14  64

In [ ]:
df.ndim  # dataframe is of two or more dimesions

2

In [ ]:
n1=pd.Series(range(1,15),name='a')
n2=pd.Series(range(51,65),name='b')
df=pd.concat([n1,n2],axis='columns')
df.head()

   a   b
0  1  51
1  2  52
2  3  53
3  4  54
4  5  55

# creating dataframe from dictionary

In [ ]:
about={
    'name': ['zecen','cimrika','alina'],
    'gender': ['M','F','F']
};

In [ ]:
df=pd.DataFrame(about)

In [ ]:
df.head()

      name gender
0    zecen      M
1  cimrika      F
2    alina      F

In [ ]:
df.shape

(3, 2)

In [ ]:
df.ndim

2

In [ ]:
df['name']

0      zecen
1    cimrika
2      alina
Name: name, dtype: object

In [ ]:
type(df['name'])

pandas.core.series.Series

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df['gender']

0    M
1    F
2    F
Name: gender, dtype: object

In [ ]:
type(df['gender'])

pandas.core.series.Series