# dictionary
* mapping datatype
* dictionaries are used to store data values in key:value pairs
* a dictionary is a collection which is ordered, changeable and do not allow duplicate keys
* also written in curly bracets

# syntax
```python
{
    key:value
}
```

In [1]:
# creating empty dictionary

In [4]:
about = {} # empty dictionary

In [5]:
type(about)

dict

In [6]:
about = dict()
type(about)

dict

# creating your own dictionary

In [7]:
# value can be of any data type
about = {
    "name": "kshitiz",
    "teaches": ['python','data science','ai'],
    'AGE': 26
}

In [8]:
about

{'name': 'kshitiz', 'teaches': ['python', 'data science', 'ai'], 'AGE': 26}

In [9]:
print(about)

{'name': 'kshitiz', 'teaches': ['python', 'data science', 'ai'], 'AGE': 26}

In [10]:
# keys can be integer, float, string

In [11]:
{
    1:'one',
    2.3: "two point three"
}

{1: 'one', 2.3: 'two point three'}

In [12]:
{
    ['one']: 'one'
}

TypeError: unhashable type: 'list'

# accessing key's value in dictionary

In [13]:
person = {
    "name": "kshitiz",
    "teaches": ['python','data science','ai'],
    'AGE': 26
}

In [14]:
# i want to know name of person

In [15]:
#one way
person['name']

'kshitiz'

In [17]:
person['AGE']

26

In [18]:
# other way
person.get('name')

'kshitiz'

In [19]:
person.get('teaches')

['python', 'data science', 'ai']

# adding a new key value pair in dictionary

In [20]:
person = {
    "name": "kshitiz",
    "teaches": ['python','data science','ai'],
    'AGE': 26
}

In [21]:
person['address']='gwarko'

In [22]:
person

{'name': 'kshitiz',
 'teaches': ['python', 'data science', 'ai'],
 'AGE': 26,
 'address': 'gwarko'}

In [23]:
# other way
person.update({'works at':'broadway'})

In [24]:
person

{'name': 'kshitiz',
 'teaches': ['python', 'data science', 'ai'],
 'AGE': 26,
 'address': 'gwarko',
 'works at': 'broadway'}

In [25]:
person.update({'name':"kshitiz regmi"})

In [26]:
person

{'name': 'kshitiz regmi',
 'teaches': ['python', 'data science', 'ai'],
 'AGE': 26,
 'address': 'gwarko',
 'works at': 'broadway'}

In [27]:
# update le key exist gardaina vane naya key pair dictionary ma thapxa
# if key exist garxa vane tyo value update garxa

In [33]:
a=input('enter the name of the mayor: ')
b=input('enter the age of the mayor: ')
c=input('enter the city of the mayor: ')
mayor={
    'name': a,
    'age': b,
    'city': c
}
mayor

enter the name of the mayor: balen
enter the age of the mayor: 33
enter the city of the mayor: ktm

{'name': 'balen', 'age': '33', 'city': 'ktm'}

In [38]:
about=list()
for index in range(2):
    a=input('enter the name of the mayor: ')
    b=input('enter the age of the mayor: ')
    c=input('enter the city of the mayor: ')
    mayor={
        'name': a,
        'age': b,
        'city': c
    }
    print('before',mayor)
    about.append(mayor)
print('after loop',about)

enter the name of the mayor: balen
enter the age of the mayor: 33
enter the city of the mayor: ktm
before {'name': 'balen', 'age': '33', 'city': 'ktm'}
enter the name of the mayor: harka
enter the age of the mayor: 35
enter the city of the mayor: dharan
before {'name': 'harka', 'age': '35', 'city': 'dharan'}
after loop [{'name': 'balen', 'age': '33', 'city': 'ktm'}, {'name': 'harka', 'age': '35', 'city': 'dharan'}]

In [39]:
name =['balen','harka']
city=['ktm','dharan']

In [41]:
m= dict(zip(name,city))
m

{'balen': 'ktm', 'harka': 'dharan'}

In [42]:
m.get('balen')

'ktm'

# find keys and values in dictionary

In [43]:
mayor = {
    'balen':'ktm',
    'harka':'dharan'
}

In [44]:
mayor.keys()

dict_keys(['balen', 'harka'])

In [45]:
mayor.values()

dict_values(['ktm', 'dharan'])

In [46]:
mayor.items()

dict_items([('balen', 'ktm'), ('harka', 'dharan')])

In [47]:
for item in mayor.items():
    print(item)

('balen', 'ktm')
('harka', 'dharan')

In [48]:
key , val = ('balen', 'ktm') # tuple unpacking

In [49]:
key

'balen'

In [51]:
val

'ktm'

In [52]:
for key, val in mayor.items():
    print(f'{key} is a mayor of {val}')

balen is a mayor of ktm
harka is a mayor of dharan

In [53]:
math = {'pi':3.1415}

In [54]:
for key, val in math.items():
    print (key,val+5)

pi 8.1415

# dictionary comprehension

In [55]:
# swap key and value
data= { 1: 'one',2 :"two"}

In [56]:
{val:key for key, val in data.items()}

{'one': 1, 'two': 2}

# pop

In [57]:
person = {
    "name": "kshitiz",
    "teaches": ['python','data science','ai'],
    'AGE': 26
}

In [59]:
person.pop('AGE')

26

In [60]:
person

{'name': 'kshitiz', 'teaches': ['python', 'data science', 'ai']}

In [61]:
# duplicate values is not supported in dictionary

# nested dictionary

In [62]:
child={
    "child1":{'name': 'sumit','age':10},
    'child2':{'name':'champs','age':69,'gender':'non binary'}
}

In [63]:
child

{'child1': {'name': 'sumit', 'age': 10},
 'child2': {'name': 'champs', 'age': 69, 'gender': 'non binary'}}

In [64]:
child['child2']

{'name': 'champs', 'age': 69, 'gender': 'non binary'}

In [65]:
child['child2']['name']

'champs'

In [66]:
child['child1']['gender']

KeyError: 'gender'

In [69]:
gender=child['child1'].get('gender')

In [70]:
print(gender)

None

In [71]:
gender=child['child1'].get('gender',None) # None is default you can change it

In [72]:
print(gender
     )

None

In [73]:
gender=child['child1'].get('gender','not specified')

In [74]:
print(gender)

not specified