# function syntax
```python

def function_name(argument/parameters):
    #function body
    return Expression


```

In [ ]:
a= 5
b=2
c=a+b
print(c)

In [ ]:
def add():
    a=5
    b=2
    c=a+b
    print(c)

In [ ]:
add()

In [5]:
def add(a,b):
    c=a+b
    print(c)

In [6]:
add(5,2)

7

In [7]:
add(a=5,b=2) #preferred way

7

In [8]:
add(a=9,b=-89)

-80

In [9]:
def mul(a,b):
    c=a*b
    print(c)
    
x=int(input('enter a number '))
y=int(input('enter another number '))

enter a number 2
enter another number 2

In [10]:
mul(a=x,b=y)

4

In [11]:
print(c)

NameError: name 'c' is not defined

# returning values in function

In [12]:
def mul (num1,num2):
    product = num1*num2
    return product

In [13]:
x=float(input('enter a number '))
y=float(input('enter another number '))

enter a number 2
enter another number 2

In [14]:
output= mul (num1=x,num2=y)
print(output)

4.0

In [15]:
def sq(num):
    return num**2

In [16]:
square= sq(num=output)

In [17]:
print(f"the square of output {output} is {square}")

the square of output 4.0 is 16.0

# default argument vs non default argument

In [18]:
def greet(name, msg):
    print(f"hi {name},{msg}")

In [21]:
greet(name='me',msg='gm')

hi me,gm

In [22]:
greet(name='champ',msg='gm')

hi champ,gm

In [23]:
# default argument

In [24]:
def greet (name,msg="gm"): #msg is a default argument
    print(f"hi {name},{msg}")

In [26]:
greet(name='me')

hi me,gm

In [28]:
greet(name='champ',msg='ga') # replaces/overwrites the value of default argument

hi champ,ga

In [29]:
# non default argument

In [30]:
def greet (msg="gm",name): #non default doesnt follow default argument
    print(f"hi {name},{msg}")

SyntaxError: non-default argument follows default argument (2981152897.py, line 1)

# returning multiple value in function

In [31]:
import math
math.pi

3.141592653589793

In [32]:
math.gcd(30,20,10)

10

In [33]:
math.lcm(40,30,20)

120

In [34]:
import math
def hcfandlcm(a,b):
    hcf= math.gcd(a,b)
    lcm=math.lcm(a,b)
    return hcf,lcm

In [39]:
hcf, lcm =hcfandlcm(a=10,b=8)

In [40]:
hcf

2

In [41]:
lcm

40

#  volume of sphere using function take radius using random variable with range (1,25)

In [55]:
import random
import math
random.seed(0)
pi= math.pi
def volume(r):
    vol=(4/3)*pi*r**3
    return vol

In [56]:
v=volume(r=random.randint(1,25))

In [57]:
print(f"volume is {round(v,2)}")

volume is 9202.77

# local vs global

In [62]:
x= 'yogesh '
def make_viral():
    z='neta'
    x="baiguni kto"
    print(x)

In [63]:
x

'yogesh '

In [64]:
make_viral()

baiguni kto

In [65]:
x

'yogesh '

In [66]:
z

NameError: name 'z' is not defined

In [67]:
x= 'yogesh '
def make_viral():
    global x
    global z
    z='neta'
    x="baiguni kto"
    print(x)

In [68]:
x

'yogesh '

In [69]:
make_viral()

baiguni kto

In [70]:
x

'baiguni kto'

In [71]:
z

'neta'