# Tuples
* collection of item under one variable name
* allows duplicate 
* supports multiple datatype
* immutable
* written in ()
* ordered and indexed

In [1]:
cars = ('mercedes', 'audi','porsche','lamborghini','jaguar','ferrari','tesla')

In [2]:
type(cars)

tuple

In [3]:
cars[1]

'audi'

In [4]:
cars[0]

'mercedes'

In [5]:
cars[-2]

'ferrari'

In [6]:
cars[1:3]

('audi', 'porsche')

In [7]:
cars[2:5]

('porsche', 'lamborghini', 'jaguar')

# python tuples are immutable

In [8]:
cars

('mercedes', 'audi', 'porsche', 'lamborghini', 'jaguar', 'ferrari', 'tesla')

In [9]:
cars[6]

'tesla'

In [10]:
cars[3]='bentley'

TypeError: 'tuple' object does not support item assignment

In [11]:
# it is the difference between list and tuples

In [13]:
l1 = ['mercedes', 'audi','porsche','lamborghini','jaguar','ferrari','tesla']

In [14]:
l1[6]

'tesla'

In [15]:
l1[6]='bentley'

In [16]:
l1

['mercedes', 'audi', 'porsche', 'lamborghini', 'jaguar', 'ferrari', 'bentley']

# we cannot change , add or remove items after the tuple has been created but type conversion to list can make it happen

In [17]:
cars = ('mercedes', 'audi','porsche','lamborghini','jaguar','ferrari','tesla')

In [19]:
car=list(cars)
car

['mercedes', 'audi', 'porsche', 'lamborghini', 'jaguar', 'ferrari', 'tesla']

In [21]:
car.append('rolls royce')

In [22]:
car=tuple(car)

In [23]:
car

('mercedes',
 'audi',
 'porsche',
 'lamborghini',
 'jaguar',
 'ferrari',
 'tesla',
 'rolls royce')

In [28]:
nums = (3,2,1,7,6,9,0)
su=0
num=list(nums)
for index in range (0,len(num)):
    su=su+num[index]
    
print(su)
mean=su/len(num)
mean

28

4.0

In [29]:
t1=('ram',5,True,6.3,[99,8])

In [30]:
t1

('ram', 5, True, 6.3, [99, 8])

In [32]:
t1[4][0]

99

In [33]:
#tuples for readonly data